* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #eee;
  font-family: sans-serif;
}

/* 全体 */
.app {
  width: 90%;
  margin: 30px auto;
  display: flex;
  gap: 20px;
}

/* ジャンル */
.genres {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.genre {
  padding: 15px;
  border: none;
  background: #ccc;
  cursor: pointer;
  transition: 0.2s;
}

.genre.active {
  background: #ff8fb1;
  transform: translateX(-10px);
}

/* メイン */
.main {
  display: flex;
  gap: 20px;
}

/* パレット */
.palette {
  background: #ff8fb1;
  margin: 0 20px;
  padding: 20px;
  width: 570px;
  position: relative;
}

#imageList img {
  width: 80px;
  cursor: pointer;
  margin: 5px;
}

/* リザルト */
.result-wrapper {
  position: relative;
}

/* bg 1480x2092 比率 */
#result {
  width: 370px;
  height: 523px;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}

/* 着せ替え画像 */
.layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

/* 背景切替ボタン */
.reload-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background: #fff;
  font-size: 20px;
  cursor: pointer;
}
